@page
@model CarRentingRazorPage.Pages.Admin.AdminDashboardModel
@{
}
<h1>DashBoard</h1>
<div class="button-container">
    <a href="./ManageCustomer/Index" class="btn btn-primary">Manage Customers</a>
    <a href="/Manufacture/Index" class="btn btn-primary">Manage Manufacture</a>
    <a href="/CarInfor/Index" class="btn btn-primary">Manage CarInformation</a>
    <a href="/Suppiler/Index" class="btn btn-primary">Manage Suppiler</a>
</div>